﻿@model IEnumerable<CS461_M3_Cross_Country.DAL.Session>

@{
    ViewBag.Title = "Sessions Log";
}

<h2>Sessions Log</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.TrainingID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Athlete.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Athlete.LastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AthleteID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TrainingDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TrainingTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HeartRate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.GPSData)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th></th>
    </tr>

    @foreach (var data in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => data.TrainingID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => data.Athlete.FirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => data.Athlete.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => data.AthleteID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => data.TrainingDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => data.TrainingTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => data.HeartRate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => data.GPSData)
            </td>

            <td>
                @Html.DisplayFor(modelItem => data.Distance)
            </td>
      
            <td>
                @Html.ActionLink("Details", "Details", new { id = data.TrainingID }) |
                @Html.ActionLink("Delete", "Delete", new { id = data.TrainingID })
            </td>
        </tr>
    }
</table>
