﻿
@{
    ViewBag.Title = "Upload In Progress";
}

<h2>Upload in Progress</h2>
<br />
<br />
<div id="messageOutput">
    <h3>Upload in Progress... Please Wait...</h3>
</div>

<meta http-equiv="refresh" content="2;Index/1" /> 