﻿<div class="modal fade" id="createPrompt" tabindex="-1" aria-labelledby="createPrompt" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document"">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Account</h5>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y:auto; max-height: calc(100vh - 200px);">
                <form id="createAccountForm">
                    <div class="form-group">
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" class="form-control" id="usernameInput" required />
                    </div>
                    <div class="form-group">
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" class="form-control" id="emailInput" required />
                    </div>
                    <div class="form-group">
                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password (min. 4 characters)" name="password" class="form-control" id="passwordInput" required />
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword"><b>Confirm Password</b></label>
                        <input type="password" placeholder="Confirm Password" name="confrimPassword" class="form-control" id="passwordConfirmInput" required />
                    </div>
                    <div class="form-group">
                        <label for="preferredName"><b>Preferred Name</b></label>
                        <input type="text" placeholder="What would you like to be called?" name="preferredName" class="form-control" id="aliasInput" required />
                    </div>
                    <div class="form-group">
                        <label for="homeLocation"><b>Home Location</b></label>
                        <input type="text" placeholder="City, State" name="homeLocation" class="form-control" id="homeInput" required />
                    </div>
                    <div class="form-group">
                        <label for="calId"><b>Calendar ID</b></label>
                        <input type="text" placeholder="Public Google Calendar ID" name="calId" class="form-control" id="calendarInput" required />
                    </div>
                    <button type="button" class="btn btn-primary" id="createSubmit">Create</button>
                    <button type="button" class="btn btn-secondary" id="createCancel" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
