﻿@*Partial view for holding the help information.*@

<!--Modal for the FAQ-->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Accordion list of FAQs-->
                <!--Accordion isn't auto-collapsing. I blame Bootstrap 4-->
                <div id="accordion" role="tablist" aria-multiselectable="true">

                    <!--Question 1-->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    What is Remi?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block" style="padding:10px;">
                                Remi is a conversational AI interface to help your day run a little more smoothly. She is currently being developed as part of a senior project at Western Oregon University.
                            </div>
                        </div>
                    </div>

                    <!--Question 2-->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How do I talk to Remi?</a>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel">
                            <div class="card-block" style="padding:10px;">
                                In the future, Remi will be able to hear your voice and understand you that way, but for now, just use the text box right below Remi's eye to go ahead and say "Hello"!
                            </div>
                        </div>
                    </div>

                    <!--Question 3-->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How do I set up my microphone?
                                </a>
                            </h5>
                        </div>

                        <div class="collapse" id="collapseThree" role="tabpanel">
                            <div class="card-block" style="padding:10px;">
                                Your browser should automatically ask you for permission to use your microphone. If you need to set up your microphone on your computer, try these links:<br />
                                <ul>
                                    <li><a href="https://support.microsoft.com/en-us/help/4027981/windows-how-to-set-up-and-test-microphones-in-windows-10">Windows 10</a></li>
                                    <li><a href="https://www.wikihow.com/Set-Up-a-Mic-in-Windows-8">Windows 8</a></li>
                                    <li><a href="https://www.wikihow.com/Activate-a-Microphone-on-Mac">Mac</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Question 4-->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">What do all those buttons do?</a>
                            </h5>
                        </div>

                        <div class="collapse" id="collapseFour" role="tabpanel">
                            <div class="card-block" style="padding:10px;">
                                Currently all the buttons on Remi's homepage are for testing purposes. She's not fully functional yet, so go ahead and play around! The "Simulate Understandable Language" button sends Remi a simple greeting, to show that she understands when the user is saying hi. You can do the same thing by typing a greeting into the text field and hitting "Send"! The "Simulate Incomprehensible Language" button sends Remi a message she can't understand (in this case, it's asking her what the meaning of life is) and she will respond accordingly. The "Show Upcoming Events" button asks Remi to pull data from a test calendar and display it as if it were a real user asking for their schedule.
                            </div>
                        </div>
                    </div>

                    <!--Question 5-->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFive">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Who made Remi?</a>
                            </h5>
                        </div>

                        <div class="collapse" id="collapseFive" role="tabpanel">
                            <div class="card-block" style="padding:10px;">Remi is being developed by four students at Western Oregon University for a senior capstone project: Jake Hatfield, Abby Horner, Stephen Oliver, and Devon Smith.</div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
