﻿<div class="modal fade" id="loginPrompt" tabindex="-1" aria-labelledby="loginPrompt" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log In</h5>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" class="form-control" id="emailInputLogin" required />
                    </div>
                    <div class="form-group">
                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" class="form-control" id="passwordInputLogin" required />
                    </div>
                        <button type="button" class="btn btn-primary" id="loginSubmit">Login</button>
                        <button type="button" class="btn btn-secondary" id="loginCancel" data-dismiss="modal">Cancel</button>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="createLink">Want to create an account? Click here!</a>
            </div>
        </div>
    </div>
</div>
