﻿@model IEnumerable<CS461_M3_Cross_Country.DAL.Athlete>

@{
    ViewBag.Title = "Athlete List";
}

<h2>Athlete List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th></th>
    </tr>

    @foreach (var athlete in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => athlete.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => athlete.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => athlete.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => athlete.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => athlete.Weight)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = athlete.AthleteID }) |
                @Html.ActionLink("Details", "Details", new { id = athlete.AthleteID }) |
                @Html.ActionLink("Delete", "Delete", new { id = athlete.AthleteID })
            </td>
        </tr>
    }
</table>
